.footer
{
padding: 10px;	
color:white;
background: rgba(223,0,0,0.9) !important;
height:auto;	
font-size:;
}


.footer-ecua{
width: 100%;	
}

.setlink{
text-decoration: none !important;
color: white !important;
}